<p id="notice"><%= notice %></p>
<div style="position: relative;
            align: center;
            width  : 740px;
            margin : 0 auto;">
<% @foods.each do |food| %>
  <% food.events.ids.each do |id| %>
    <% @events.each do |e| %>
      <% if e.id == id %>
        <%= link_to e.title, e %><br>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
<hr>
<div>
  <%=link_to 'Back to Home', root_path %>
</div>
