<%= #Created by : Tarika Bedse %>

<center> <p id="notice"><%= notice %></p>

<%= link_to 'Register', new_user_path %>
<%= link_to 'Login', '/user' %>

<br>
<br>

<h1>You Have Been Successfully Logged Out.</h1>

</center> 

