<% if @locations.present? %>
	<div style="position: relative;
	            align: center;
	            width  : 200px;
	            margin : 0 auto;">
	<% @locations.each do |location| %>
	  <%= link_to  location.event.title, location.event %><br>
	<% end %>
	</div>
<% else %>
	<p>There are no events containing the term(s) <%= params[:filter] %>.</p>
<% end %>
<hr>
<div>
  <%=link_to 'Back to Home', root_path %>
  <%= link_to 'Back to Filter', pages_path %>
</div>
