<p id="notice"><%= notice %></p>
<div style="position: relative;
            align: center;
            width  : 200px;
            margin : 0 auto;">
<% @locations.each do |location| %>
  <%= link_to  location.event.title, location.event %><br>
<% end %>
</div>
<%= link_to 'Back to home', root_path %>
